@import url('https://fonts.googleapis.com/css?family=Kanit:400,600|Prompt|Sriracha&subset=thai');
@import 'shorthand.scss';
body {
  min-height: 100vh;
  background: url('./assets/bg/bg-pink.jpg') center top no-repeat fixed;
  background-position-y: 12rem;
}

h1 {
  @extend .dropshadow;
}

.container {
  background-color: #fff;
  @extend .boxshadow;
  @include mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include from($tablet) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.is-two-thirds,
.is-full {
  @include from($tablet) {
    padding-right: 4rem;
    font-size: 1.05rem;
    color: #777;
  }
  h3 {
    letter-spacing: -2px;
    font-size: 2.2rem;
    font-weight: bold;
    color: purple;
    @extend .dropshadow;
  }
  h4 {
    font-family: 'Sriracha', cursive;
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: #900;
  }
  em {
    padding: 2rem 5rem;
    display: inline-block;
    color: #369;
    border-left: 3px solid #369;
    margin: 2rem 0;
  }
}

.is-full {
  padding-top: 3rem;
}

.columns {
  font-family: 'Kanit', sans-serif;
}
footer {
  font-family: 'Prompt', sans-serif;
}
.navbar-item,
.aside > p {
  font-family: 'Sriracha', cursive;
}
nav {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}
.roller {
  height: 205px;
  width: 89px;
  border: none;
  position: absolute;
  right: 70px;
  top: 0;
  z-index: 999;
  @include mobile {
    right: 1rem;
    height: 140px;
  }
}

.textContactTop {
  p {
    font-size: 0.9rem;
    line-height: 0.6;
    &:first-child {
      font-family: 'Sriracha', cursive;
      font-size: 2rem;
    }
  }
  @include mobile {
    padding-top: 0;
    // padding-bottom: 2rem;
    text-align: left;
    p:first-child {
      font-size: 1.5rem;
    }
    p:last-child {
      display: none;
    }
  }
  @include desktop-only {
    text-align: right;
    padding-top: 2.5rem;
  }
}
a.navbar-item {
  color: #3273dc;
  padding: 0.8rem 0.95rem;
  border-top: 2px solid #ccc;
  &:hover {
    background: none;
    text-decoration: underline;
    @include transition(all, 0.5s, ease);
  }
  &.active {
    text-decoration: underline;
    color: #ff0a66;
  }
  @include transition(all, 0.5s, ease);
}

.columns {
  .blogdata {
    ul {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      li {
        margin-left: 2rem;
        list-style-type: disc;
        border-bottom: 1px dotted #ff0a66;
        padding: 0.5rem;
        //max-width: 80%;
      }
      & li:last-child {
        border-bottom: none;
      }
    }
    p {
      margin-bottom: 1rem;
    }
  }
}

a.button.is-loading {
  border: none;
  background: none;
}

.aside {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+61,fba6e1+88,f986d3+88,f986d3+88,ffa8e4+100 */
  // background: #fcecfc; /* Old browsers */
  // background: -moz-linear-gradient(45deg, #fcecfc 61%, #fba6e1 88%, #f986d3 88%, #f986d3 88%, #ffa8e4 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(45deg, #fcecfc 61%, #fba6e1 88%, #f986d3 88%, #f986d3 88%, #ffa8e4 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(45deg, #fcecfc 61%, #fba6e1 88%, #f986d3 88%, #f986d3 88%, #ffa8e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ffa8e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.aside > p {
  padding: 0 1.4rem;
  font-size: 1.1rem;
  text-align: center;
  color: #3273dc;
  margin-top: 1.5rem;
}

.carousel {
  ul li {
    border: none;
    padding: 0;
  }
}

.slide-index {
  color: #999;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  min-height: 10rem;
  margin-top: 1rem;
}

.welcome h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  letter-spacing: -1px;
}

p.red {
  color: #900;
}
