@import '~bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Kanit:400,600|Prompt|Sriracha&subset=thai');
@import 'shorthand.scss';
@import 'layout.scss';
@import 'top.scss';
@import 'navbar.scss';

.columns {
  font-family: 'Kanit', sans-serif;
  .blogdata {
    @include from($tablet) {
      padding: 4rem;
      padding-top: 2.5rem;
    }
    div {
      &:not(.carousel) {
        ul {
          margin-top: 0.5rem;
          margin-bottom: 1.5rem;
          li {
            margin-left: 1.5rem;
            list-style-type: disc;
            border-bottom: 1px dotted #ff0a66;
            padding: 0.5rem;
            max-width: 70%;
            &:last-child {
              border-bottom: none;
            }
            @include mobile {
              max-width: 90%;
            }
          }
        }
      }
    }
    p {
      margin-bottom: 1rem;
    }
    h1 {
      @extend .dropshadow;
      .title {
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
    h2 {
      .subtitle {
        color: #999;
      }
    }
    h3 {
      letter-spacing: -2px;
      font-size: 2.2rem;
      font-weight: bold;
      color: purple;
      @extend .dropshadow;
    }
    h4 {
      font-family: 'Sriracha', cursive;
      font-size: 1.3rem;
      font-style: italic;
      margin-bottom: 1rem;
      color: #900;
    }
    em {
      padding: 2rem 5rem;
      display: inline-block;
      color: #369;
      border-left: 3px solid #369;
      margin: 2rem 0;
      font-size: 1.3rem;
    }

    p.red {
      color: #900;
    }

    .numberbox {
      font-size: 2rem;
      display: inline-block;
      color: #ff0099;
      padding: 10px 25px;
      border: 1px solid #999;
      background: url('../bg/numbg.png') center no-repeat;
      margin-bottom: 30px;
    }

    .blockpad {
      height: 50px;
    }

    .wp-image-73,
    .wp-image-76,
    .wp-image-90,
    .wp-image-101,
    .wp-image-112 {
      float: right;
      margin-left: 20px;
    }
    .wp-image-91,
    .wp-image-92,
    .wp-image-93,
    .wp-image-94,
    .wp-image-102,
    .wp-image-103,
    .wp-image-104,
    .wp-image-106,
    .wp-image-109 {
      margin-top: 30px;
    }
    .wp-image-79 {
      float: left;
      margin-right: 20px;
    }
    .wp-image-85,
    .wp-image-86 {
      max-width: 400px;
    }
  }
  a.button.is-loading {
    border: none;
    background: none;
  }
}

.cc {
  img {
    &:hover {
      cursor: pointer;
    }
  }
}

.welcome {
  h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: -1px;
    color: #b8309c;
  }
  p {
    margin: 10px 0 20px;
  }
  section {
    &:first-child {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

footer {
  font-family: 'Prompt', sans-serif;
}

@import 'carousel.scss';
