.textContactTop {
  p {
    font-size: 0.9rem;
    &:first-child {
      font-family: 'Sriracha', cursive;
      font-size: 2rem;
      color: #b8309c;
    }
  }
  @include mobile {
    padding-top: 0;
    text-align: left;
    p:first-child {
      font-size: 1.5rem;
    }
    p:last-child {
      display: none;
    }
  }
  @include from($tablet) {
    text-align: right;
    padding-top: 2.5rem;
  }
}

.roller {
  width: 90px;
  border: none;
  position: absolute;
  right: 70px;
  top: 0;
  z-index: 2000;
  @include mobile {
    right: 1rem;
    height: 210px;
  }
  @include desktop-only {
    height: 155px;
  }
  @include from($widescreen) {
    height: 220px;
  }
}
